// $theme-colors: (
//     "body-bg": #ccc
// );

@import "~bootstrap/scss/bootstrap";

body {
	background-color: color-mix(in srgb, var(--bs-primary) 5%, white);
}

.abs-center {
	display: grid;
	place-items: center;
	min-height: 100vh;
	max-width: 100vw;
	background: linear-gradient(to bottom right, blue, pink);
}

.card-action-footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.25rem;
	padding: 0.5rem;
}

@include media-breakpoint-down(sm) {
	.card-action-footer {
		flex-direction: column;

		.btn {
			width: 100%;
		}
	}
}

.card-login {
	width: 100%;
	max-width: 500px;
}

// .card-title {
// 	text-align: center;
// 	color: #FCDB00;
// 	font-family: impact;
// 	font-size: 40px;
// 	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
// 	-webkit-text-fill-color: #FCDB00;
// 	-webkit-text-stroke: 1.5px black;
// }
// .bg-primary {
// 	font-family: impact;
// 	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
// 	font-size: 19px;
// 	-webkit-text-fill-color: #fcdb00;
// 	-webkit-text-stroke: 0px black;
// }
// .me-auto {
// 	font-size: 18px;
// 	text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
// 	-webkit-text-fill-color: #d9bc11;
// 	-webkit-text-stroke: 0.1px #020000;
// }
// .btn {
// 	color: #020000FF;
// 	border: 1.6px solid #000000;

// }
// .form-label {
// 	font-family: impact;
// }
// .form-control {
// 	color: #212529;
// 	border: 2px solid #000000;

// }
// .form-check-input[type=checkbox] {
// 	border: 1.5px solid #000000;
// }
